src/main/mule/soapwebservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f26b7145-ebb8-47b7-bb4c-316983baa187" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0d413616-cd22-4b80-add0-4dd8b52644d4" >
		<wsc:connection wsdlLocation="C:\MulePractice\soapwebservice\src\main\resources\Calc.wsdl" service="Calculator" port="CalculatorSoap12" address="http://www.dneonline.com/calculator.asmx">
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapwebserviceFlow" doc:id="0318dcaf-f149-4174-973f-9e142d5a8dbb" >
		<http:listener doc:name="Listener" doc:id="af6c9841-6bb0-4431-ae3b-35f4cef03ca7" config-ref="HTTP_Listener_config" path="/soaptest"/>
		<logger level="INFO" doc:name="Logger" doc:id="5913ed63-a554-4c30-8892-0f5e48383e73" />
		<ee:transform doc:name="Transform Message" doc:id="b8145c13-a39b-48ac-a228-d6dca10d9107" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}
	/*ns0#Add: {
		ns0#intA: payload.value1,
		ns0#intB: payload.value2
	}*/
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="f8ec5107-a2c9-4bae-b53a-47fc531fb6ea" config-ref="Web_Service_Consumer_Config" operation="Multiply"/>
		<ee:transform doc:name="Transform Message" doc:id="53f25e8e-960f-4fff-b708-2d58216fcc1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
	//addResult: payload.body.ns0#AddResponse.ns0#AddResult as String default ""
	MultiplyResult:payload.body.ns0#MultiplyResponse.ns0#MultiplyResult as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
